<check if="{{ isset(@RESPONSE.data.content.carousel.items) && (count(@RESPONSE.data.content.carousel.items) > 0) }}">
    <div id="{{ @PARAMS.page }}-myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
     
        <check if="{{ count( @RESPONSE.data.content.carousel.items) > 1 }}">
            <ol class="carousel-indicators">
                <repeat group="{{ @RESPONSE.data.content.carousel.items }}" key="{{ @key }}" value="{{ @item }}"> 
                    <li data-target="#{{ @PARAMS.page }}-myCarousel" data-slide-to="{{ @key }}" class="{{ @key == 0 ? 'active' : '' }}"></li>  
                </repeat>
            </ol>
        </check>
     
        <div class="carousel-inner">
            
            <repeat group="{{ @RESPONSE.data.content.carousel.items }}" key="{{ @key }}" value="{{ @item }}">  
                <div class="carousel-item {{ @key == 0 ? 'active' : '' }}">
                    <img src="{{ @item.image }}" />
                    <div class="container">
                    	<check if="{{ isset(@item.href) }}">
                        	<a href="{{ @item.href }}">
                        </check>
                        <div class="carousel-caption text-center">
                            <h1>{{ @item.title }}</h1>
                            <br />
                            
                            <check if="{{ isset(@item.subtitle) }}">
                                <true>
                                    <p class="lead">{{ @item.subtitle }}</p>
                                </true>
                                <false>
                                    <p>&nbsp;</p>
                                </false>
                            </check> 
                            <p> 
                            <check if="{{ isset(@item.button) && isset(@item.href) }}">
                                <true>
                                    <a class="btn btn-md btn-primary" href="{{ @item.href }}" role="button">{{ @item.button }}</a>
                                </true>
                                <false>
                                    &nbsp;
                                </false>
                            </check> 
                            </p>
                        </div>
                        <check if="{{ isset(@item.href) }}">
                        	</a>
                       	</check>
                    </div> 
                </div> 
            </repeat>
        </div>
        <check if="{{ count( @RESPONSE.data.content.carousel.items) > 1 }}">
            <a class="carousel-control-prev" href="#{{ @PARAMS.page }}-myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#{{ @PARAMS.page }}-myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a> 
        </check>
    </div>
</check>
