<header>
 
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"> 
    
        <div class="container">
        
            <a class="navbar-brand" href="/">{{ @DICT.countdown }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {{ @PARAMS.page == 'home' ? 'active' : '' }}">
                        <a class="nav-link" href="{{ @PARAMS.lang }}/{{ @frontend.website.defaultpage }}">{{ @DICT.navigation.1 }} <span class="sr-only">(current)</span></a>
                    </li>                 
                </ul>
                
                <ul class="navbar-nav">

					<!-- language menu -->
                    <repeat group="{{ glob(@LOCALES.'*.ini') }}" value="{{ @lang }}">
    					<li class="nav-item language {{ (@lang = array_shift(explode('.', end(explode('/', @lang))))) == @PARAMS.lang ? 'active' : '' }}">
                        	<a class="nav-link" href="{{ @lang.@PARAMS.1.(@QUERY ? '?'.@QUERY : '') }}">{{ @lang }}</a>
                      	</li class="nav-item">
					</repeat>
              	</ul>
            </div> 
        </div> 
    </nav>
</header>