
<div class="row">
    <div class="col-md-12">
        <check if="@PARAMS.id">
            <false>
                <form method="POST" action="/">
                    <repeat group="@RESPONSE.form.fields" key="@key" value="@value">
                        <check if="@value.type === 'button'">
                            <true>
                                <button name="{{ @value.name }}" class="btn btn-primary mt-4">{{ @value.label }}</button>
                            </true>
                            <false>
                                <check if="@value.type === 'textarea'">
                                    <true>
                                        <label for="{{ @value.name }}" class="mt-4">{{ @value.label }}</label>
                                        <textarea name="{{ @value.name }}" {{ @value.required ? 'required' : '' }} {{ @value.readonly ? 'readonly' : '' }} {{ @value.readonly ? 'disabled' : '' }} class="form-control"></textarea>
                                    </true>
                                    <false>
                                        <label for="{{ @value.name }}" class="mt-4">{{ @value.label }}</label>
                                        <input name="{{ @value.name }}" type="{{ @value.type }}" {{ @value.required ? 'required' : '' }} {{ @value.readonly ? 'readonly' : '' }} {{ @value.readonly ? 'disabled' : '' }} class="form-control">
                                    </false>
                                </check>
                            </false>
                        </check>
                    </repeat>
                </form>
            </false>
            <true>
                <div class="card">
                    <div class="card-header"></div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </true>
        </check>

    </div>
</div>    
