<!DOCTYPE html>
<html lang="{{ @PARAMS.lang }}">
    <head>
        <meta charset="{{ @ENCODING }}" />
        <meta name="description" content="{{ @DICT.meta.description }}">
        <meta name="author" content="{{ @DICT.meta.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <check if="@PARAMS.id">
            <meta property="og:title" content="{{ @RESPONSE.data.title }}"/>
            <meta property="og:description" content="{{ @RESPONSE.data.description }}"/>
            <meta property="og:image" content="{{ @SCHEME }}://{{ @HOST }}{{ ':'.@PORT }}{{ @BASE }}/images/{{ @PARAMS.id }}.jpg"/>
            <meta property="og:url" content="{{ @SCHEME }}://{{ @HOST }}/{{ @PARAMS.id }}"/>
            <meta property="og:type" content="article"/>
        </check>
        <title>{{ @DICT.meta.title }}</title>
        <base href="{{ @SCHEME }}://{{ @HOST }}{{ ':'.@PORT }}{{ @BASE }}/" />
        <link rel="icon" href="images/favicon.ico">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans"> 
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.css" integrity="sha256-Zh4AVwxlwpUo2c5u4Z5emTmYZxbCk972ewf4tqGRsBg=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
        <link rel="stylesheet" type="text/css" href="css/template.css" />
    </head>
    <body id="{{ @PARAMS.page }}">
         <main role="main" class="container mt-5">
            <repeat group="@SESSION.message" key="@key" value="@value">
                <div class="alert alert-{{ @value.type }}" role="alert">{{ @value.text }}</div>
            </repeat>
            <div class="row">
                <div class="col-md-12">
                    <check if="@PARAMS.id">
                        <false>
                            <div class="card">
                                <div class="card-header">Create Countdown</div>
                                <div class="card-body">
                                    <form method="POST" action="/" enctype="multipart/form-data">
                                        <repeat group="@RESPONSE.form.fields" key="@key" value="@value">
                                            <check if="@value.type === 'button'">
                                                <true>
                                                    <button name="{{ @value.name }}" class="btn btn-primary mt-4">{{ @value.label }}</button>
                                                </true>
                                                <false>
                                                    <check if="@value.type === 'textarea'">
                                                        <true>
                                                            <label for="{{ @value.name }}" class="mt-4">{{ @value.label }}</label>
                                                            <textarea name="{{ @value.name }}" {{ @value.required ? 'required' : '' }} {{ @value.readonly ? 'readonly' : '' }} {{ @value.disabled ? 'disabled' : '' }} class="form-control"></textarea>
                                                        </true>
                                                        <false>
                                                            <label for="{{ @value.name }}" class="mt-4">{{ @value.label }}</label>
                                                            <input name="{{ @value.name }}" value="{{ @value.value }}" type="{{ @value.type }}" {{ @value.required ? 'required' : '' }} {{ @value.readonly ? 'readonly' : '' }} {{ @value.disabled ? 'disabled' : '' }} class="{{ @value.type !== 'file' ? 'form-control' : 'd-flex' }}">
                                                        </false>
                                                    </check>
                                                </false>
                                            </check>
                                        </repeat>
                                    </form>
                                </div>
                            </div>
                        </false>
                        <true>
                            <check if="@ERROR.code">
                                <false>
                                    <div class="card">
                                        <div class="card-header"></div>
                                        <div class="card-body">
                                            <check if="file_exists('images/'.@PARAMS['id'].'.jpg')">
                                                <true>
                                                    <dic class="row">
                                                        <div class="col-md-8">
                                                            <h5 class="card-title">{{ @RESPONSE.data.title }}</h5>
                                                            <p class="card-text">{{ @RESPONSE.data.description | raw }}</p>
                                                            <check if="@RESPONSE.data.url">
                                                                <a href="{{ @RESPONSE.data.url }}" class="btn btn-primary">More</a>
                                                            </check>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <img src="{{ 'images/'.@PARAMS['id'].'.jpg' }}" class="img-fluid">
                                                        </div>
                                                    </dic>
                                                </true>
                                                <false>
                                                    <h5 class="card-title">{{ @RESPONSE.data.title }}</h5>
                                                    <p class="card-text">{{ @RESPONSE.data.description | raw }}</p>
                                                    <check if="@RESPONSE.data.url">
                                                        <a href="{{ @RESPONSE.data.url }}" class="btn btn-primary">More</a>
                                                    </check>
                                                </false>
                                            </check>
                                        </div>
                                    </div>
                                </false>
                                <true>
                                    <div class="card">
                                        <div class="card-header">{{ @ERROR.code }}</div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ @DICT.notfoundtitle }}</h5>
                                            <p class="card-text">{{ @DICT.notfoundtext }}</p>
                                        </div>
                                    </div>
                                </true>
                            </check>
                        </true>
                    </check>
                </div>
            </div>  
        </main> 
        <footer class="footer"> 
            <div class="container mt-5"> 
                <p class="text-center"><a href="/">Create Countdown</a></p>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha256-fTuUgtT7O2rqoImwjrhDgbXTKUwyxxujIMRIK7TbuNU=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js" integrity="sha256-/irFIZmSo2CKXJ4rxHWfrI+yGJuI16Z005X/bENdpTY=" crossorigin="anonymous"></script>
        <check if="@PARAMS.id"> 
            <false>
                <script type="text/javascript" src="js/home.js"></script>
            </false>
            <true>
                <check if="!@ERROR.code">
                    <script type="text/javascript" src="js/countdown.js"></script>
                </check>
            </true>
        </check>
        <script type="text/javascript" src="js/template.js"></script>
    </body>
</html>
