<!DOCTYPE html>
<html lang="{{ @LANGUAGE }}">
    <head>
        <meta charset="{{ @ENCODING }}" />
        <meta name="description" content="{{ @DICT.meta.description }}">
        <meta name="author" content="{{ @DICT.meta.author }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <check if="@PARAMS.id && !@ERROR.code">
            <meta name="twitter:card" content="summary"/>
            <meta property="og:title" content="{{ @RESPONSE.data.title }}"/>
            <meta property="og:description" content="{{ @RESPONSE.data.description }}"/>
            <check if="file_exists('images/'.@PARAMS['id'].'.jpg')">
                <meta property="og:image" content="{{ @SCHEME }}://{{ @HOST }}{{ @BASE }}/images/{{ @PARAMS.id }}.jpg"/>
            </check>
            <meta property="og:url" content="{{ @SCHEME }}://{{ @HOST }}{{ @BASE }}/{{ @PARAMS.id }}"/>
            <meta property="og:type" content="article"/>
        </check>
        <title>{{ @DICT.meta.title }}</title>
        <base href="{{ @SCHEME }}://{{ @HOST }}{{ @BASE }}/" />
        <link rel="icon" href="images/favicon.ico">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/css/bootstrap.min.css" integrity="sha512-N415hCJJdJx+1UBfULt+i+ihvOn42V/kOjOpp1UTh4CZ70Hx5bDlKryWaqEKfY/8EYOu/C2MuyaluJryK1Lb5Q==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.css" integrity="sha512-OtwMKauYE8gmoXusoKzA/wzQoh7WThXJcJVkA29fHP58hBF7osfY0WLCIZbwkeL9OgRCxtAfy17Pn3mndQ4PZQ==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/themes/airbnb.min.css" integrity="sha512-s0ZrPrgzmwoIlxJR7XKxtUbqRm103b8HS0wOnWnJSsKO1prue4aGp1XJRGl9OADSKygpFcCQ/xlieqQ773/aAw==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="css/template.css" />
    </head>
    <body id="{{ @PARAMS.page }}">
         <main role="main" class="container mt-5">
            <repeat group="@SESSION.message" key="@key" value="@value">
                <div class="alert alert-{{ @value.type }}" role="alert">{{ @value.text }}</div>
            </repeat>

            <check if="@PARAMS.id">
                <false>
                    <div class="card">
                        <div class="card-header"><h2>{{ @DICT.createcountdown }}</h2></div>
                        <div class="card-body">
                            <form method="POST" action="/" enctype="multipart/form-data">
                                <div class="form-floating mb-3">
                                    <input name="title" class="form-control" id="floatingTitle" placeholder="Title" required>
                                    <label for="floatingTitle">Title</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <textarea name="description" class="form-control" id="floatingDescription" placeholder="Description" required></textarea>
                                    <label for="floatingDescription">Description</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="url" type="url" class="form-control" id="floatingWebsite" placeholder="Website">
                                    <label for="floatingWebsite">Website</label>
                                </div>
                                <div class="mb-3">
                                    <label for="formFile" class="form-label">Picture</label>
                                    <input name="picture" class="form-control" type="file" id="formFile">
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="date" class="form-control" id="floatingDate" placeholder="Expiration Date" required>
                                    <label for="floatingDate">Expiration Date</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="goodbye" class="form-control" id="floatingGoodbye" placeholder="Expiration Text" required>
                                    <label for="floatingGoodbye">Expiration Text</label>
                                </div>
                                <button class="btn btn-lg btn-danger">Submit</button>
                            </form>
                        </div>
                    </div>
                </false>
                <true>
                    <check if="@ERROR.code">
                        <false>
                            <div class="card">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <check if="file_exists('images/'.@PARAMS['id'].'.jpg')">
                                        <true>
                                            <dic class="row">
                                                <div class="col-md-8">
                                                    <h5 class="card-title">{{ @RESPONSE.data.title }}</h5>
                                                    <p class="card-text">{{ @RESPONSE.data.description | raw }}</p>
                                                    <check if="@RESPONSE.data.url">
                                                        <a href="{{ @RESPONSE.data.url }}" class="btn btn-primary">More</a>
                                                    </check>
                                                </div>
                                                <div class="col-md-4">
                                                    <img src="{{ 'images/'.@PARAMS['id'].'.jpg' }}" class="img-fluid">
                                                </div>
                                            </dic>
                                        </true>
                                        <false>
                                            <h5 class="card-title">{{ @RESPONSE.data.title }}</h5>
                                            <p class="card-text">{{ @RESPONSE.data.description | raw }}</p>
                                            <check if="@RESPONSE.data.url">
                                                <a href="{{ @RESPONSE.data.url }}" class="btn btn-primary">More</a>
                                            </check>
                                        </false>
                                    </check>
                                </div>
                            </div>
                        </false>
                        <true>
                            <div class="card">
                                <div class="card-header">{{ @ERROR.code }}</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ @DICT.notfoundtitle }}</h5>
                                    <p class="card-text">{{ @DICT.notfoundtext }}</p>
                                </div>
                            </div>
                        </true>
                    </check>
                </true>
            </check>

        </main> 
        <footer class="footer"> 
            <div class="container mt-5"> 
                <p class="text-center"><a href="/">{{ @DICT.createcountdown }}</a> | <a href="https://www.xsite.ch">{{ @DICT.meta.author }}</a></p>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta3/js/bootstrap.min.js" integrity="sha512-mp3VeMpuFKbgxm/XMUU4QQUcJX4AZfV5esgX72JQr7H7zWusV6lLP1S78wZnX2z9dwvywil1VHkHZAqfGOW7Nw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/flatpickr.min.js" integrity="sha512-+ruHlyki4CepPr07VklkX/KM5NXdD16K1xVwSva5VqOVbsotyCQVKEwdQ1tAeo3UkHCXfSMtKU/mZpKjYqkxZA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.9/l10n/{{ @LANGUAGE }}.min.js"></script>
        <check if="@PARAMS.id"> 
            <false>
                <script type="text/javascript" src="js/home.js"></script>
            </false>
            <true>
                <check if="!@ERROR.code">
                    <script type="text/javascript" src="js/countdown.js"></script>
                </check>
            </true>
        </check>
        <script type="text/javascript" src="js/template.js"></script>
    </body>
</html>
